@import url("https://fonts.google.com/share?selection.family=Roboto:wght@300");

body{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

p{
   background-color: aqua;
}

.coba{
   /* display: none; */
   visibility: hidden;
   background-color: #333;
   margin-top: 100px;
   height: 100px;
   padding: 2rem;
}