@import url("https://fonts.google.com/share?selection.family=Roboto:wght@300");
body{
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   padding: 5% 10%;
}

/* ol{
   list-style-type: none;
   padding: 20px;
   background-color: salmon;
}

ol li{
   background-color: skyblue;
   padding: 20px;
} */

.list ul{
   list-style-type: square;
   /* text-align: center; */
   list-style-position: inside;
   color: blue;
   line-height: 1.5;
   /* background-color: salmon; */
   padding: 20px;
   /* list-style-image: url('./img/check-mark.png'); */
   list-style: square url('./img/check-mark.png') inside;
}

.list ul li{
   /* background-color: #cce5ff; */
   color: darkblue;
   margin: 5px;
}

.list ul li:nth-child(even){
   color: red;
}

.list ul li::marker{
   color: red;
   font-size: 1em;
   content: ">>";
}

.menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
}

.menu ul li{
   float: left;
}

.menu li a{
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

li a:hover{
   background-color: #111;
}