body {
  margin: 0;
  background-color: #f7f7f7;
}

.icon-bar {
  width: 100%;
  background-color: #404258;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #f7f7f7;
  font-size: 20px;
  text-decoration: none;
}

.icon-bar a:hover {
  background-color: #393e46;
}

.active {
  background-color: #6d9886;
}
